@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

.active {display: block !important;}
head {display: none;}
a:link, a:hover, a:visited, a:active {text-decoration: none;}
html, body, p, ul {margin: 0; padding: 0; font: 12px 'Montserrat', 'Noto Sans KR', sans-serif; list-style: none;}
body{overflow-x: hidden;}

/*
* header css start
*/

header {position: fixed; width: 100%; z-index: 5;}

/*mainTopBar css start*/
.mainTopBar {position: absolute; width: 100%; height: 60px; background-color: black; }

.toplogoArea {position: absolute; top: 0; left: 45%; width: 10%; height: 100%;}
.toplogoArea .default {display: none; position: absolute; top: 50%; margin-top: -26.5px; left: 50%; margin-left: -65px;}
.toplogoArea .fix {display: none; position: absolute; top: 50%; margin-top: -8.5px; left: 50%; margin-left: -65px;}

.langBoxArea a, .categoryArea a, .loginArea a, .searchArea a {color: white;}

.langBoxArea, .categoryArea {float: left;}
.langBoxArea .nowLang {position: relative; margin-top: 30px; margin-left: 40px; font-size: 9px;}
.langBoxArea .nowLang a {position: absolute; top: 50%; margin-top: -4.5px;}
.langBoxArea .nowLang img {position: absolute; top: 50%; margin-top: -6px; left: 25px;}
.langBoxArea .box {display: none; position: absolute; background-color: white;}
.categoryArea {position: relative; margin-top: 25px; margin-left: 160px;}
.categoryArea a {font-size: 12px; margin: 0px 15px;}

.searchArea, .loginArea {float: right;}

.searchArea {position: relative; margin-top: 25px; margin-right: 40px;}
.searchArea a {margin: 0px 5px;}

.loginArea {position: relative; margin-top: 25px; margin-right: 100px;}
.loginArea a {font-size: 13px; margin: 0px 15px;}
/*mainTopBar css end*/

/*cateBar css start*/

.cateBar {position: fixed; width: 100%; height: 60px; top: 60px; background-color: white;}

.cateBar .btn-menu {position: absolute; height: 100%;}
.cateBar .btn-menu .cate-txt {position: relative; font-size: 14px; font-weight: 500; color: black; margin-top: 20px; float: left;}
.cateBar .btn-menu .all-menu {position: relative; width: 48px; height: 48px; top: 50%; margin-top: -24px; margin-left: 20px; float: left;}
.cateBar .btn-menu .all-menu span {position: absolute; background-color: black; width: 20px; height: 3px; left: 50%; margin-left: -10px;}
.cateBar .btn-menu .all-menu span:nth-of-type(1) {top: 30%;}
.cateBar .btn-menu .all-menu span:nth-of-type(2) {top: 45%;}
.cateBar .btn-menu .all-menu span:nth-of-type(3) {bottom: 32%;}

.cateBar ul {position: absolute; top: 50%; left: 50%; margin-left: -530px; margin-top: -13px;}
.cateBar ul li {margin: 0px 18px; float: left;}
.cateBar ul li a {color: black; font-size: 15px; font-weight: 400;}

/*cateBar css end*/

/*
* header css end
*/


/*
* .wrap css start
*/

/*.main-jumbotron css start*/

.main-jumbotron {position: relative; width: 100%; height: 860px;}
.main-jumbotron ul {display: flex; height: 100%;}
.main-jumbotron ul li {position: relative; height: 100%; margin: 0px 10px;}
.main-jumbotron ul li a {height: max-content;}
.main-jumbotron ul li a .banner-title {display: flex; position: absolute; bottom: 100px; color: white; flex-direction: column;}
.main-jumbotron ul li a .banner-title .middle-txt {font-size: 50px; font-weight: bold; line-height: 60px; margin-left: 45px;}
.main-jumbotron ul li a .banner-title .mini-txt {font-size: 20px; font-weight: 500; margin-left: 50px; margin-top: 30px;}

/*.main-jumbotron css end*/

/* b-area css start */

.b-area {display: flex; position: relative; width: 100%; height: max-content; margin: 90px 0px; justify-content: center;}
.b1 {position: relative; background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/sub_banner_homet.jpg); width: 700px; height: 220px; margin-right: 20px;}
.b2 {position: relative; background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/sub_banner_3.jpg); width: 700px; height: 220px; margin-left: 20px;}
.b-area div a {position: absolute; width: 100%; height: 100%;} 
.b-area div a span {position: absolute; left: 42px; color: black;}
.b-area div a span:nth-of-type(1) {top: 40px; font-size: 18px; font-weight: bolder;}
.b-area div a span:nth-of-type(2) {bottom: 80px; font-size: 18px; font-weight: 500;}
.b-area div a span:nth-of-type(3) {bottom: 50px; font-size: 24px; font-weight: bolder;}

/* b-area css end */

/*.prod-inner-wrap css start*/

.prod-inner-wrap {position: relative; width: 100%;}
.prod-inner-wrap .prod-inner-wrap-titlebar {position: absolute; width: 1440px; top: 0; left: 50%; margin-left: -720px;}
.prod-inner-wrap .prod-inner-wrap-titlebar > span {position: relative; height: 90px; float: left; font-size: 34px; font-weight: 700;}
.prod-inner-wrap .prod-inner-wrap-titlebar ul {display: flex; float: right; justify-content: space-between;}
.prod-inner-wrap .prod-inner-wrap-titlebar ul li {margin: 12px; margin-left: 30px; font-size: 15px;}

.prod-inner-wrap a {position: absolute; width: max-content; top: 90px; left: 232px;}
.prod-inner-wrap a span {position: absolute; color: white;}
.prod-inner-wrap a span:nth-of-type(1) {top: 40px; left: 40px; font-size: 34px; font-weight: 700;}
.prod-inner-wrap a span:nth-of-type(2) {bottom: 40px; right: 50px; font-size: 16px; line-height: 19px;}
.prod-inner-wrap a span img {vertical-align: top;}

/*.prod-inner-wrap css end*/

/*
* .wrap css end
*/

/*
* .floating-wrap css start
*/

.floating-wrap {position: fixed; width: 100%; height: 100%; top: 0; z-index: 4;}

.floating-wrap .ad {bottom: 30px; left: 30px;}
.floating-wrap .ad, .floating-wrap .ad div {position: absolute; height: 162px; width: 162px;}
.floating-wrap .ad div a {position: absolute; width: 100%; height: 100%;}
.floating-wrap .ad div:nth-of-type(1) {background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/210226_floating.png);}
.floating-wrap .ad div:nth-of-type(2) {background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/210225_floating.png);}
.floating-wrap .ad div:nth-of-type(3) {background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/210219_floating.png);}
.floating-wrap .ad div:nth-of-type(4) {background-image: url(https://xexymix.jpg3.kr/xexymix/2020/main/210223_floating.png);}

.floating-wrap .btn-box {position: absolute;  right: 20px; bottom: 20px;}
.floating-wrap .btn-box ul {display: flex; position: relative; width: 50px; height: 215px; margin-bottom: 15px; padding: 3px 0; background-color: white; border: 1px solid #dfdfdf; border-radius: 25px; text-align: center; flex-direction: column; justify-content: space-between;}
.floating-wrap .btn-box ul li {position: relative; height: 52px; line-height: 52px;}
.floating-wrap .btn-box ul li:after {content: ''; width: 15px; height: 1px; background: #d4d4d4; position: absolute; bottom: 0; left: 45%; margin-left: -5px;}
.floating-wrap .btn-box ul li img {margin-top: 10px;}
.floating-wrap .btn-box .store-img {position: relative;}

/*
* .floating-wrap css end
*/